openapi: 3.0.0
info:
  description: "Service used to create/validate signed messages"
  version: "1.0.0"
  title: "Signature Service"
servers:
  - url: "http://signature.127.0.0.1"
    description: Development
tags:
  - name: signature
    description: endpoints for managing signatures
paths:
  /v1/signature:
    get:
      tags:
        - signature
      summary: "Retrieves a Signature with the unsigned message"
      parameters:
        - $ref: "#/components/parameters/Signature"
        - $ref: "#/components/parameters/SignatureKey"
      responses:
        200:
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignatureBodyResponse"
    post:
      tags:
        - signature
      summary: "Create a Signature"
      description: ""
      security:
        - ApiToken: []
      requestBody:
        description: Signature request
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignatureRequest"
      responses:
        200:
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignatureCreateResponse"
components:
  securitySchemes:
    ApiToken:
      type: apiKey
      in: header
      name: "Authorization"
  parameters:
    Signature:
      name: "signature"
      in: "query"
      required: true
      schema:
        type: string
        example: "f6c27f992ca90e3b0a6a2a675393a41a"
    SignatureKey:
      name: "key"
      in: "query"
      required: true
      schema:
        type: string
        example: "f6c27f992ca90e3b0a6a2a675393a41a"
  schemas:
    SignatureRequest:
      type: object
      required:
        - message
      properties:
        message:
          description: The message to be signed
          type: string
          example: "example message to sign"
        ttl:
          type: number
          description: The time-to-live in seconds.  The default is 24 hours or 86400 seconds.
          example: 86400
          default: 86400
    SignatureCreateResponse:
      type: object
      properties:
        signature:
          description: The message to be signed
          type: string
          example:  VOsOZh/m/5+O1kLPPPaAq1py6ziXBxBgKudyamjdPcKT0cZHC3XHs0+bSpgck1NnHc/hYTqCTWY9
                    LhE8DGuMlmlepkrP+asqohoQM66JYVlCyEdePzdB8E9VzGYWA5cfMdKAP0Y6WQee4Km/gBhZIECT
                    JWUucAvgUCNZLyLzHcviaFzHgCQek08z71vIz0hACsz3qHBAgEQrepX8B/K7jCT1yEwiNZ5xWa2R
                    23moz2vAbXW8pDOVB6xEtqv4j2mHXgdUVnIjMJeOgz6X4A7pSl/Xh59i6UkswHrgwDz9rRzmvSyk
                    SkdlLTZdnsDH+QR+rd3sAAZC6T2zismlAU6NWw==
        key:
          description: A key that must be sent with signature when validating
          type: string
          example: a41ef0929dbda09abd519facf2f371f0
        ttl:
          type: number
          description: The time-to-live in seconds.  The default is 24 hours or 86400 seconds.
          example: 86400
          default: 86400
    SignatureBodyResponse:
      type: object
      properties:
        message:
          type: string
          description: The original unsigned message
          example: sample unsigned message
        ttl:
          type: number
          description: The time-to-live left on the signature
          example: 86400